:root {
  --white: #ffffff;
  --almostwhite: #FFFDFA;
  --darkspaceblue: #00001A;
  --gunmetal: #5E607A;
  --silver: #C5C6CE;
  --lightvermillion: #F15D51;
  --yellow: #E9AA52;
  font-size: 15px;
}

body {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
}

header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 12rem;
  margin: 2rem auto;

}

main {
  display:flex;
  padding-left: 11rem;
  padding-right: 11rem;
}

ul {
  display: flex;
  flex-direction: row;
  padding-right: 1.2rem;
}

ul li {
  list-style:none;
  margin: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--gunmetal);
}

h1{
  color: var(--darkspaceblue);
  font-weight: 800;
  font-size: 3.5rem;
  max-width: 20rem;
  line-height: normal;
  padding-top: 2rem;
}

#hero {
  display:grid;
  justify-items: start;
  padding: 1rem;
}

#hero button {
  /* max-width: 12rem; */
  border:none;
  padding: 0.8rem 2rem;
  margin-top: 2rem;
  background-color: var(--lightvermillion);
  color: var(--almostwhite);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

#hero-image-desktop {
  max-width: 100%;
    height: auto;
  padding-right:1rem;
}

#main-news {
  display:grid;
  grid-template-columns: 1fr 1fr;
  max-width:48rem;
}

#news-content p {
  color: var(--gunmetal);
  line-height: 1.75rem;
  padding-top: 2rem;
  max-width: 23rem;
}

#new-info {
  padding: 2.1rem 1.6rem;
  margin-top: 1rem;
  background-color: var(--darkspaceblue);
  max-width: 23rem;
  max-height: 34rem;
}

#new-info h2 {
  color: var(--yellow);
  font-size: 2.7rem;
}

#new-info h4, p {
  color: var(--almostwhite);
}

#new-info h4 {
  font-size: 1.33rem;
  padding-bottom: 0.5rem;
}

#new-info p {
  line-height: 26px;
}

#new-info p:nth-child(n+3):nth-child(-n+5) {
  border-bottom: 1px solid #5E607A;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

#other-news {
  display: flex;
  
  /* align-content:center; */
  justify-items: center;
  align-content: space-between;
  margin: 0 auto;
  max-width: 48rem;
}

.news {
  display:flex;
  flex-direction: column;
  max-width: 250px;
  
}

.news p {
  color: var(--gunmetal);
}

#other-news img {
  max-width: 6.7rem;
  height: auto;
}