:root {
  --white: #ffffff;
  --almostwhite: #FFFDFA;
  --darkspaceblue: #00001A;
  --gunmetal: #5E607A;
  --silver: #C5C6CE;
  --lightvermillion: #F15D51;
  --yellow: #E9AA52;
  font-size: 15px;
}

body {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
}

header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 12rem;
  margin: 2rem auto;

}

main {
  display:flex;
  padding-left: 11rem;
  padding-right: 11rem;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  list-style:none;
  margin: 1rem 1.25rem;
  font-size: 1rem;
  color: var(--gunmetal);
}

h1{
  color: var(--darkspaceblue);
  font-weight: 800;
  font-size: 3.5rem;
  max-width: 20rem;
}

#hero {
  display:grid;
  justify-items: start;
  padding: 1rem;
}

#hero button {
  max-width: 30%;
}

#hero-image-desktop {
  max-width: 48rem;
  
}

#main-news {
  display:grid;
  grid-template-columns: 1fr 1fr;
  max-width:48rem;
}

#new-info {
  padding: 1rem;
}

#other-news {
  display: flex;
}

.news {
  display:flex;
  flex-direction: column;
}